.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

.footer .footer__content-top {
  padding: 40px;
}
.footer .footer__content-top .footer__blocks-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__content-top .footer__blocks-wrapper .footer-block__heading {
  letter-spacing: 20px;
}
.footer__content-top .footer__blocks-wrapper a {
  font-family: Geologica;
  font-size: 24px;
  letter-spacing: -0.5px;
  text-decoration: none;
}
.footer-block .footer-block__details-content {
  justify-content: left;
}
.header .header__icons {
  gap: 40px;
}
.header__icon account-icon {
  display: flex;
}

@media (max-width: 1440px) {
  .footer__content-top .footer__blocks-wrapper a {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .footer__content-top .footer__blocks-wrapper .footer-block__heading {
    letter-spacing: 10px;
  }
}
@media (max-width: 768px) {
  .footer__content-top .footer__blocks-wrapper .footer-block__heading {
    letter-spacing: 5px;
  }
}